.leftpanel_main_container {
    background: #ffe2ec;
    .users_online_wrapper {
        .users_online_title {
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            padding: 15px 0;
            border-bottom: 1px solid #c9d5e8;
            background: #fffd99;
            box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.13);
        }
        .user_list_block {
            .user_online {
                padding: 4px;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}