.leftpanel_main_container {
    .users_online_wrapper {
        .users_online_title {
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            padding: 15px 0;
            border-bottom: 1px solid #c9d5e8;
            background: #f7f585;
        }
    }
}